{% extends 'haapar_unla_app/base.html' %}
{% block title %} Contraseña Cambiada {% endblock %}

{% block content %}

<main class="container mt-3">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5 text-center">
        <h3 class="text-center heading-section">¡Contraseña cambiada!</h3>
        <p class="text-center text-muted">Tu contraseña ha sido restablecida exitosamente. Ya puedes <a class="link-login" href="{% url 'sign-in' %}">iniciar sesión</a> con tu nueva contraseña.</p>
    </div>
  </div>
</main>

{% endblock %}
