{% extends 'haapar_unla_app/base.html' %}
{% block title %} Restablecer Contraseña {% endblock %}

{% block content %}

<main class="container mt-3">
  <div class="page-title">
    <div class="container position-relative">
      <h3 class="text-center heading-section">¿Olvidaste tu contraseña?</h3>
      <p class="text-center text-muted">Ingresa tu correo electrónico para restablecerla.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
        
      {% if messages %}
      <div class="alert alert-info mt-2">
          {% for message in messages %}
              {{ message }}
          {% endfor %}
      </div>
      {% endif %}

      <form method="post" class="styled-form">
        {% csrf_token %}
        <div class="mb-3">
          <label for="id_email" class="form-label">Email:</label>
          {{ password_reset_form.email }}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
      </form>
    </div>
  </div>
</main>

{% endblock %}
