{% extends 'haapar_unla_app/base.html' %}
{% block title %}Contraseña Cambiada{% endblock %}

{% block content %}
<main class="container mt-3">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5 text-center">
      <div class="card p-4">
        <h3 class="card-title">¡Contraseña cambiada!</h3>
        <p>Tu contraseña ha sido restablecida exitosamente. Ya puedes <a href="{% url 'iniciar_sesion' %}">iniciar sesión</a> con tu nueva contraseña.</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}