# Ignorar directorios de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar entornos virtuales
venv/
env/
.venv/

# Ignorar archivos de configuración de IDEs comunes
.vscode/
.idea/

# Ignorar archivos específicos de desarrollo local
*.log
*.pot
*.mo
.DS_Store # macOS
Thumbs.db # Windows

# Ignorar archivos de base de datos SQLite (si usas Django u otro framework con SQLite)
db.sqlite3
*/db.sqlite3 # Por si está en un subdirectorio