{% extends 'haapar_unla_app/base.html' %}
{% block title %}Crear Reporte{% endblock %}

{% block content %}
<!-- FORMULARIO CREAR REPORTES -->
<div class="report-section p-2 mt-2 bg-white rounded">
  <div class="container position-relative">

  <!-- BLOQUE DE ALERTAS Y MENSAJES -->
  {% if messages %}
    <div class="mt-3">
      {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show shadow-sm" role="alert">
          <i class="fa-solid {% if message.tags == 'error' %}fa-triangle-exclamation{% else %}fa-circle-check{% endif %} me-2"></i>
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <section class="report-section">
    <!-- Encabezado -->
    <h3 class="text-center heading-section">Crear Proyectos</h3>
    <p class="text-center text-muted">Ingrese la información necesaria para realizar el proyecto.</p>
    
    <!-- Formulario -->
    <form method="POST" action="{% url 'crear-reporte' %}" class="styled-form">
      {% csrf_token %}

      <!-- Tema de Interés -->
      <div class="mb-4">
        <label for="nombre" class="form-label">Tema de Interés</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required
          placeholder="Describí brevemente el tema que querés explorar">
      </div>

      <!-- Descripción -->
      <div class="mb-4">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required placeholder="Explicá brevemente de qué se trata el tema."></textarea>
      </div>

      <!-- Año -->
      <div class="mb-4">
        <label for="horizonte" class="form-label">Año de Estudio</label>
        <input type="number" class="form-control" id="horizonte" name="horizonte" required placeholder="¿Hasta qué año querés proyectar?" min="2023" max="2100">
      </div>

      <!-- Territorio -->
      <div class="mb-4">
        <label for="territorio" class="form-label">Territorio</label>
        <input type="text" class="form-control" id="territorio" name="territorio" required placeholder="Ej: Argentina, Buenos Aires, Región Sur, etc.">
      </div>

      <!-- Botón de envío -->
      <button type="submit" class="btn btn-primary">
        <i class="fa-solid fa-file-circle-plus me-2"></i> Crear proyecto
      </button>
    </form>
  </section>
</div>

<!-- Script de toggle -->
<script>
  function toggleSidebar() {
    const sidebar = document.querySelector('.sidebar');
    sidebar.classList.toggle('collapsed');
  }
</script>
{% endblock %}