{% extends 'haapar_unla_app/base.html' %}
{% block title %} Crear Tendencia - HAAPAR {% endblock %}
{% block content %}

<main class="main">
  <div class="page-title dark-background">
    <div class="container position-relative">
      <h1 class="text-center heading-section">Crear nueva tendencia</h1>
      <p class="text-center text-muted">{{ subsistema.nombre }}</p>
    </div>
  </div>

  <section>
            <form method="post" action="{% url 'crear_tendencia' subsistema.id_subsistema %}" class="styled-form">
              {% csrf_token %}

              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  id="nombre"
                  name="nombre"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="nombre_corto" class="form-label">Nombre corto</label>
                <input
                  type="text"
                  class="form-control"
                  id="nombre_corto"
                  name="nombre_corto"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="tipo_dato" class="form-label">Tipo de Dato</label>
                <select class="form-select" id="tipo_dato" name="tipo_dato" required>
                  <option value="Cuantitativa">Cuantitativa</option>
                  <option value="Cualitativa">Cualitativa</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea
                  class="form-control"
                  id="descripcion"
                  name="descripcion"
                  rows="3"
                  required
                ></textarea>
              </div>

              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success me-2">Guardar</button>
                <a
                  href="{% url 'tendencia_detalle' subsistema.id_subsistema %}"
                  class="btn btn-secondary"
                >
                  Cancelar
                </a>
              </div>
            </form>

    </div>
  </div>

  
</main>

{% endblock %}